<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure File Sharing - Upload</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h3>Upload Your File</h3>
            </div>
            <div class="card-body">
                <p class="text-center text-muted mb-3">Maximum file size: <span id="maxFileSize">{{ formatSize .MaxUploadSize }}</span></p>
                <p class="text-center text-muted mb-3">Maximum sharing time: <span id="maxTime">{{.MaxExpireDuration}}</span></p>
                <div class="drag-drop-area mb-3" id="dragDropArea">
                    <p id="fileNameDisplay">Drag & Drop your file here</p>
                    <p>or</p>
                    <button onclick="triggerFileInput()" id="selectFileButton" class="btn btn-primary">Select File</button>
                    <input type="file" id="fileInput" class="form-control mb-3" style="display:none;" onchange="handleFileSelect(event)" />
                </div>
                <p id="selectedFileName" class="text-center mt-3"></p>
                <button onclick="uploadFile()" id="uploadButton" class="btn btn-primary btn-block mx-auto d-block mt-3">Upload File</button>
                <div class="progress mt-3 d-none" id="progressContainer">
                    <div class="progress-bar" role="progressbar" style="width: 0%;" id="progressBar">0%</div>
                </div>
                <p id="statusMessage" class="mt-3"></p>
                <p id="uploadedBytes" class="mt-3 text-center"></p>
                <p id="fileID" class="mt-3 text-center"></p>
                <div class="input-group mt-3 d-none" id="linkContainer">
                    <input type="text" id="fileLink" class="form-control" readonly>
                    <button class="btn btn-success" onclick="copyLink()">Copy Link</button>
                </div>
                <div id="errorMessage" class="alert alert-danger mt-3 d-none" role="alert"></div>
                <div class="accordion mt-3" id="advancedOptions">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Advanced Options
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#advancedOptions">
                            <div class="accordion-body">
                                <div class="form-check mb-3">
                                    <input type="checkbox" id="oneTimeDownload" class="form-check-input">
                                    <label class="form-check-label" for="oneTimeDownload">One-time download</label>
                                    <small class="form-text text-muted">Allow the file to be downloaded only once.</small>
                                </div>
                                <div id="passwordInputDiv" class="form-group mb-3">
                                    <label for="password">Password (Optional)</label>
                                    <input type="password" id="password" class="form-control" autocomplete="off">
                                    <small class="form-text text-muted">Enter a password to encrypt the file. Remember the password, it will be needed for the download.</small>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="expiryDate">Expiration Date</label>
                                    <input type="date" id="expiryDate" class="form-control">
                                    <small class="form-text text-muted">Set a date after which the file will no longer be available for download.</small>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="maxDownloads">Max Downloads</label>
                                    <input type="number" id="maxDownloads" class="form-control" min="1">
                                    <small class="form-text text-muted">Specify the maximum number of times the file can be downloaded.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
